#! /usr/bin/make -f

export PYBUILD_INSTALL_ARGS = --no-compile

%:
	dh $@ --with python2,python3,sphinxdoc --buildsystem=pybuild

override_dh_auto_install:
	python setup.py build_sphinx -b man
	python setup.py build_sphinx -b html
	dh_auto_install

	#~　set -e -x; \
		#~　python  setup.py install --root debian/python-livestreamer  --install-layout=deb; \
		#~　python3 setup.py install --root debian/python3-livestreamer --install-layout=deb; \
		#~　python3 setup.py install --root debian/livestreamer-cli --install-layout=deb;

override_dh_compress:
	dh_compress -X.html

override_dh_installchangelogs:
	dh_installchangelogs CHANGELOG.rst
